<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <object id="loadingSvg" style="position: absolute; z-index: 105;" width="250" height="auto" type="image/svg+xml" data="../images/loadingSvg.svg"></object>
    <header class="header">
        <h1 id="welcomeH1">Hi <%= name %> Welcome To The Chatroom</h1>
    </header>
    <section class="left-section">
        <div id="localScreenContainer" style="pointer-events: none;">
            <video id="localScreen" style="display: none; width: 100%; height: 100%;" autoplay muted></video>
            <button id="resize-localScreen-btn" style="display: none;">Current Size | Small</button>
        </div>
        <div id="remoteVideosContainer"></div>
    </section>
    <main class="main-section" id="main-section">
        <div id="messages-container">
            <form id="preventDefault-POST" action="/" method="POST">
                <div id="submit-msg-div">
                    <div class="input-box">
                        <input type="text" name="message" id="message" placeholder="Enter a Message" required>
                    </div>
                    <button type="submit" id="submit-btn"><i class='bx bxs-send' style="color: #333; font-size: 24px; background-color: transparent !important;"></i></button>
                </div>
            </form>
        </div>
        <div class="screenshare-container">
            <button id="startScreenShare">Start Screen Share</button>
            <button id="stopScreenShare" style="display: none;">Stop Screen Share</button>
        </div>
        <script>const userNameOfSender = '<%= name %>' || 'NO NAME GIVEN';</script>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" id="logout-btn">Log Out</button>
        </form>
    </main>
    <section class="right-section">
        <div id="localAudioContainer" style="display: none; pointer-events: none;">
            <img 
                id="localAudioVisualizer" 
                src="data:<%= profilePicture.contentType %>;base64,<%= profilePicture.data.toString('base64') %>" 
                width="125" 
                height="125" 
                style="border-radius: 50%;"
            >
            <audio id="localAudio" autoplay="true" muted="true"></audio>
        </div>
        <div id="remoteAudioStreams"></div>
    </section>
    <script type="text/javascript" src="../js/main-script.js" defer></script>
    <script type="text/javascript" src="../js/dragVideosScript.js" defer></script>
    <script type="text/javascript" src="../js/makeLocalScreenDraggableScript.js" defer></script>
    <script type="text/javascript" src="../js/runSetLocalScreenWidthHeightScript.js" defer></script>
    <script type="text/javascript" src="../js/runResizeLocalScreenScript.js" defer></script>
    <script type="text/javascript" src="../js/removeWelcomeH1Script.js" defer></script>
    <script type="text/javascript" src="../js/observeRemoteVideosContainer.js" defer></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                const messagesContainer = document.getElementById('messages-container');
                const loadingSvg = document.getElementById('loadingSvg');
                loadingSvg.setAttribute('class', 'animate__animated animate__fadeOut');
                setTimeout(() => {
                    loadingSvg.remove();
                }, 500);
                messagesContainer.style.visibility = 'visible';
                messagesContainer.className = 'animate__animated animate__fadeIn';
            }, 1500);
        });
    </script>
</body>
</html>