<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Hi <%= name %> Welcome To The Chatroom</h1>
    <main class="main-section">
        <div id="messages-container">
            <form id="preventDefault-POST" action="/" method="POST">
                <div>
                    <label for="message">Enter a Message</label>
                    <input type="text" name="message" id="message" placeholder="Enter a message" required>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="screenshare-container">
            <video id="localScreen" style="display: none; width: 60vw; height: auto;" autoplay muted></video>
            <div id="remoteVideosContainer"></div>
            <button id="startScreenShare">Start Screen Share</button>
            <button id="stopScreenShare" style="display: none;">Stop Screen Share</button>
        </div>
        <script>const userNameOfSender = '<%= name %>' || 'NO NAME GIVEN';</script>
        <script src="../main-script.js" type="text/javascript" defer></script>
    </main>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</body>
</html>