<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header class="header">
        <h1 id="welcomeH1">Hi <%= name %> Welcome To The Chatroom</h1>
    </header>
    <section class="left-section">
        <div id="localScreenContainer" style="pointer-events: none;">
            <video id="localScreen" style="display: none; width: 100%; height: 100%;" autoplay muted></video>
            <button id="resize-localScreen-btn" style="display: none;">Current Size | Small</button>
        </div>
        <div id="remoteVideosContainer"></div>
    </section>
    <main class="main-section">
        <div id="messages-container">
            <form id="preventDefault-POST" action="/" method="POST">
                <div>
                    <label for="message"></label>
                    <input type="text" name="message" id="message" placeholder="Enter a message" required>
                    <button type="submit" id="submit-btn">Submit</button>
                </div>
            </form>
        </div>
        <div class="screenshare-container">
            <button id="startScreenShare">Start Screen Share</button>
            <button id="stopScreenShare" style="display: none;">Stop Screen Share</button>
        </div>
        <script>const userNameOfSender = '<%= name %>' || 'NO NAME GIVEN';</script>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" id="logout-btn">Log Out</button>
        </form>
    </main>
    <section class="right-section">
        <div id="localAudioContainer">
            <img id="localAudioVisualizer" src="../images/test.jpeg" width="125" height="125" style="border-radius: 50%;">
            <audio id="localAudio" autoplay="true"></audio>
        </div>
    </section>
    <script type="text/javascript" src="../js/main-script.js" defer></script>
    <script type="text/javascript" src="../js/dragVideosScript.js" defer></script>
    <script type="text/javascript" src="../js/makeLocalScreenDraggableScript.js" defer></script>
    <script type="text/javascript" src="../js/runSetLocalScreenWidthHeightScript.js" defer></script>
    <script type="text/javascript" src="../js/runResizeLocalScreenScript.js" defer></script>
    <script type="text/javascript" src="../js/removeWelcomeH1Script.js" defer></script>
    <script type="text/javascript" src="../js/observeRemoteVideosContainer.js" defer></script>
</body>
</html>