<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <object id="loadingSvg" style="position: absolute; z-index: 105;" width="250" height="auto" type="image/svg+xml" data="../images/loadingSvg.svg"></object>
    <header class="header">
        <h1 id="welcomeH1">Hi <%= name %> Welcome To The Chatroom</h1>
        <nav class="navbar">
            <div class="menu-icon">&#9776;</div>
            <ul class="nav-list">
                <li><a href="/viewProfile">View Profile</a></li>
                <li><a id = "openDirectMessagesContainer" href="#" >Send a Direct Message</a></li>
                <li><a href="#">Subscriptions</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">History</a></li>
            </ul>
        </nav>
    </header>
    <section class="left-section">
        <div id="localScreenContainer" style="pointer-events: none;">
            <video id="localScreen" style="display: none; width: 100%; height: 100%;" autoplay muted></video>
            <button id="resize-localScreen-btn" style="display: none;">Current Size | Small</button>
            <button id="hide-localScreen-btn" class="misc-btns" style="display: none;">Hide</button>
        </div>
        <div id="remoteVideosContainer"></div>
    </section>
    <main class="main-section" id="main-section">
        <div id="messages-container">
            <form id="preventDefault-POST" action="/" method="POST">
                <div id="submit-msg-div">
                    <div class="input-box">
                        <input type="text" name="message" id="message" placeholder="Enter a Message" required>
                    </div>
                    <button type="submit" id="submit-btn"><i class='bx bxs-send' style="color: #333; font-size: 24px; background-color: transparent !important;"></i></button>
                </div>
            </form>
        </div>
        <div class="screenshare-container">
            <button id="startScreenShare">Start Screen Share</button>
            <button id="startAudioCall">Start Audio Call</button>
            <button id="stopAudioCall" style="display: none;">Stop Audio Call</button>
            <button id="stopScreenShare" style="display: none;">Stop Screen Share</button>
        </div>
        <script>const userNameOfSender = '<%= name %>' || 'NO NAME GIVEN';</script>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" id="logout-btn">Log Out</button>
        </form>
    </main>
    <section class="right-section">
        <div id="directMessageContainer" style="display: none; pointer-events: none; position: fixed; top: 2vh; right: 6vw; background-color: #fff; border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, .2);"></div>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                function formatDateShort(date) {
                    const options = {
                        year: 'numeric',
                        month: '2-digit',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        second: 'numeric',
                        hour12: true
                    }

                    const formattedDateShort = new Date(date).toLocaleString(undefined, options);
                    return formattedDateShort;
                }

                const directMessageContainer = document.getElementById('directMessageContainer');
                directMessageContainer.style.padding = '15px';

                const openDirectMessagesContainer = document.getElementById('openDirectMessagesContainer');
                openDirectMessagesContainer.addEventListener('click', (e) => {
                    e.preventDefault();

                    const navList = document.querySelector('.nav-list');
                    navList.classList.toggle('show');
                    directMessageContainer.classList.toggle('showDirectMessageContainer');
                });

                const ul = document.createElement('ul');
                ul.style.margin = '0'
                ul.style.padding = '0';
                ul.style.listStyleType = 'none';
                ul.style.display = 'flex';
                ul.style.flexDirection = 'column';
                ul.style.alignItems = 'center';
                ul.style.justifyContent = 'center';
                ul.style.gap = '15px';

                axios.get('/availableUsers')
                    .then((response) => {
                        const availableUsers = response.data.data;
                        availableUsers.forEach((user) => {

                            const uint8Array = new Uint8Array(user.profilePicture.data.data);
                            const base64StringProfilePicture = btoa(String.fromCharCode.apply(null, uint8Array));
                            
                            const li = document.createElement('li');
                            li.innerHTML = 
                            `<p 
                            style="color: #333; text-align: 
                            center; font-weight: bold;">
                            ${user.email}
                            </p>`

                            const pInsideLi = li.querySelector('p');

                            pInsideLi.addEventListener('click', () => {
                                const oldSendDirectMessageContainer = document.getElementById('sendDirectMessageContainer');

                                if (oldSendDirectMessageContainer) {
                                    oldSendDirectMessageContainer.remove();
                                }

                                const sendDirectMessageContainer = document.createElement('div');
                                sendDirectMessageContainer.id = 'sendDirectMessageContainer';
                                sendDirectMessageContainer.style.padding = '20px';
                                sendDirectMessageContainer.style.backgroundColor = '#fff';
                                sendDirectMessageContainer.style.borderRadius = '20px';
                                sendDirectMessageContainer.style.position = 'fixed';
                                sendDirectMessageContainer.style.top = '2vh';
                                sendDirectMessageContainer.style.right = '24vw';
                                sendDirectMessageContainer.style.height = '54vh'
                                sendDirectMessageContainer.style.widows = '600px';
                                sendDirectMessageContainer.style.overflowY = 'auto';

                                sendDirectMessageContainer.addEventListener('mouseleave', () => {
                                    sendDirectMessageContainer.className = "animate__animated animate__fadeOut";

                                    setTimeout(() => {
                                        sendDirectMessageContainer.remove();
                                    }, 600);
                                });

                                const allMessagesUl = document.createElement('ul');
                                allMessagesUl.style.margin = '0';
                                allMessagesUl.style.padding = '0';
                                allMessagesUl.style.listStyleType = 'none';
                                allMessagesUl.style.display = 'flex';
                                allMessagesUl.style.flexDirection = 'column';
                                allMessagesUl.style.alignItems = 'center';
                                allMessagesUl.style.justifyContent = 'center';
                                allMessagesUl.style.gap = '15px';

                                user.receivedMessages.forEach((receivedMessage) => {
                                    console.log(user.email);
                                    console.log('receivedMessage YOU SHOULD BE ABLE TO DEL IT', receivedMessage);

                                    const receivedMessageLi = document.createElement('li');
                                    console.log(receivedMessage);
                                    receivedMessageLi.innerHTML = `<p style="color: #333; font-weight: bold;">Sent From You ${receivedMessage.message} | ${formatDateShort(receivedMessage.sentOn)}</p>`;
                                    receivedMessageLi.className = 'sent-direct-message';

                                    const deleteForm = document.createElement('form');
                                    deleteForm.action = `/deleteDirectMessage?id=${receivedMessage._id}&sentTo=${user.email}&_method=DELETE`;
                                    deleteForm.method = 'POST';

                                    const deleteBtn = document.createElement('button');
                                    deleteBtn.textContent = 'Delete';
                                    deleteBtn.addEventListener('click', (e) => {
                                                e.preventDefault();

                                                axios.delete(`/deleteDirectMessage?id=${receivedMessage._id}&sentTo=${user.email}&_method=DELETE`)
                                                    .then(() => {
                                                        console.log('DELETED DIRECT MSG');
                                                    })
                                                    .catch((error) => {
                                                        console.error(error);
                                                    })
                                                
                                                receivedMessageLi.remove();
                                            });
                                    deleteForm.appendChild(deleteBtn);

                                    receivedMessageLi.appendChild(deleteForm);

                                    allMessagesUl.appendChild(receivedMessageLi);
                                });

                                user.sentMessages.forEach((sentMessage) => {
                                    const sentMessageLi = document.createElement('li');

                                    sentMessageLi.innerHTML = `<p style="color: #333; font-weight: bold;">Sent To You ${sentMessage.message} | ${sentMessage.sentOn}</p>`;
                                    sentMessageLi.className = 'received-direct-message';

                                    allMessagesUl.appendChild(sentMessageLi);
                                });

                                sendDirectMessageContainer.innerHTML =
                                `
                                <img
                                    src="data:${user.profilePicture.contentType};base64,${base64StringProfilePicture}" 
                                    width="50" 
                                    height="50" 
                                    style="border-radius: 50%; pointer-events: none;"
                                >
                                <p style="text-align: center; color: #333; font-weight: bold;">${user.name}</p>
                                <form action="/sendDirectMessage?sendingTo=${user.email}" method="POST" style="display: flex; flex-direction: column; gap: 10px;">
                                        <div>
                                            <input name="message">
                                            <button type="submit">Send Msg</button>
                                        </div>
                                </form>`;

                                const buttonInsideForm = sendDirectMessageContainer.querySelector('button');
                                const inputInsideForm = sendDirectMessageContainer.querySelector('input');

                                buttonInsideForm.addEventListener('click', (e) => {
                                    e.preventDefault();

                                    console.log('inputInsideForm.value', inputInsideForm.value);

                                    axios.post(`/sendDirectMessage?sendingTo=${user.email}`, { message: inputInsideForm.value })
                                        .then((res) => {
                                            console.log(res.data);
                                            console.log(res.data.message);
                                            console.log(res.data._id)

                                            const resMessage = res.data.message;
                                            const resMessageId = res.data._id;

                                            const receivedMessageClientLi = document.createElement('li');
                                            receivedMessageClientLi.innerHTML = `<p style="color: #333; font-weight: bold;">Sent From You ${resMessage} | ${formatDateShort(new Date())}</p>`;
                                            receivedMessageClientLi.className = 'received-direct-message';
                                            inputInsideForm.value = '';

                                            const deleteForm = document.createElement('form');
                                            deleteForm.action = `/deleteDirectMessage?id=${resMessageId}&sentTo=${user.email}&_method=DELETE`;
                                            deleteForm.method = 'POST';

                                            const deleteBtn = document.createElement('button');
                                            deleteForm.appendChild(deleteBtn);

                                            deleteBtn.textContent = 'Delete';
                                            deleteBtn.addEventListener('click', (e) => {
                                                e.preventDefault();

                                                axios.delete(`/deleteDirectMessage?id=${resMessageId}&sentTo=${user.email}&_method=DELETE`)
                                                    .then(() => {
                                                        console.log('DELETED DIRECT MSG');
                                                    })
                                                    .catch((error) => {
                                                        console.error(error);
                                                    })
                                                
                                                receivedMessageClientLi.remove();
                                            });

                                            receivedMessageClientLi.appendChild(deleteForm);
                                            allMessagesUl.appendChild(receivedMessageClientLi);
                                        })
                                        .catch((error) => {
                                            console.log(error);
                                        })
                                });

                                const formInsideSendDirectContainer = sendDirectMessageContainer.querySelector('form');


                                console.log(allMessagesUl);

                                sendDirectMessageContainer.insertBefore(allMessagesUl, formInsideSendDirectContainer);

                                directMessageContainer.appendChild(sendDirectMessageContainer);
                            });
                            ul.append(li);
                        });
                    })
                    .catch((err) => console.log('Error GET /availableUsers', err));

                directMessageContainer.appendChild(ul);
            });
        </script>
        <div id="localAudioContainer" style="display: none; pointer-events: none; position: absolute;">
            <img 
                id="localAudioVisualizer" 
                src="data:<%= profilePicture.contentType %>;base64,<%= profilePicture.data.toString('base64') %>" 
                width="125" 
                height="125" 
                style="border-radius: 50%; pointer-events: none;"
            >
            <audio id="localAudio" autoplay="true" muted="true"></audio>
        </div>
        <div id="remoteAudioStreams"></div>
    </section>
    <script type="text/javascript" src="../js/main-script.js" defer></script>
    <script type="text/javascript" src="../js/dragVideosScript.js" defer></script>
    <script type="text/javascript" src="../js/makeLocalScreenDraggableScript.js" defer></script>
    <script type="text/javascript" src="../js/runSetLocalScreenWidthHeightScript.js" defer></script>
    <script type="text/javascript" src="../js/runResizeLocalScreenScript.js" defer></script>
    <script type="text/javascript" src="../js/removeWelcomeH1Script.js" defer></script>
    <script type="text/javascript" src="../js/observeRemoteVideosContainer.js" defer></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                const messagesContainer = document.getElementById('messages-container');
                const loadingSvg = document.getElementById('loadingSvg');
                loadingSvg.setAttribute('class', 'animate__animated animate__fadeOut');
                setTimeout(() => {
                    loadingSvg.remove();
                }, 500);
                messagesContainer.style.visibility = 'visible';
                messagesContainer.className = 'animate__animated animate__fadeIn';
            }, 1500);
        });
    </script>
    <script text="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const menuIcon = document.querySelector('.menu-icon');
            const navList = document.querySelector('.nav-list');

            menuIcon.addEventListener('click', () => {
                navList.classList.toggle('show');
            });
        });
    </script>
</body>
</html>